

.section {
    font-size: 20px;
    padding: 8px 12rem 6px 15rem;
    background-color: #f1f1f1;
}

img {
    width: 10rem;
}

ul {
    float: right;
    }

.section li {
    display: inline;
    margin: 0px 3rem 2rem 0px;
}

.start {
    display: inline;
    margin: 0px 3rem 2rem 0px;
    border: 2px solid #030;
    border-radius: 25px;
    background-color: #030;
    padding: 3px 3rem;
}

.start:hover {
    color: white;
    background-color: #082;
}